@font-face {
    font-family: "Star Jedi";
    src: url("../fonts/StarJedi.woff") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Star Wars";
    src: url("../fonts/SFDistantGalaxy.woff") format("opentype");
    font-weight: normal;
    font-style: normal;
}
/* Page basics*/
body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #121213;
    color: white;
    padding: 20px;

    /* Background stars */
    background-image:
        radial-gradient(1px 1px at 20% 30%, white, transparent),
        radial-gradient(1px 1px at 80% 70%, white, transparent),
        radial-gradient(1px 1px at 50% 50%, white, transparent),
        radial-gradient(1px 1px at 10% 80%, white, transparent),
        radial-gradient(1px 1px at 90% 20%, white, transparent);
    background-repeat: repeat;
    background-size: 200px 200px;
}
body[data-game="wedgedle"] {
    --accent-color: yellow;
}
body[data-game="shipdle"] {
    --accent-color: rgb(0,150,255);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn:hover {
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}
.hidden {
    display: none;
}
.reset-timer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.reset-timer-text {
    font-family: 'Star Jedi', sans-serif;
    font-size: 20px;
    color: rgb(128, 0, 0);
    font-weight: 500;
    left: 0;
}
.reset-timer {
    font-size: 40px;
    color: rgb(128, 0, 0);
    font-weight: 1000;
}
/* Modal Structures */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}
.modal-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: relative;
    width: 550px;
    max-height: 90vh;
    overflow-y: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 90%;
    padding: 24px 28px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #eed9c4;
    border: 2px solid #800080;
    border-radius: 12px;
    /* text-align: center; */
    box-shadow: 0 0 25px rgba(255, 232, 31, 0.35);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: 1000;
    background: none;
    border: none;
    color: rgb(200, 0, 0);
    font-size: 1.6rem;
    cursor: pointer;
}
.give-up-btn {
    width: 100px;
    height: 30px;
    padding: 5px;

    text-align: center;
    font-family: 'Star Jedi', sans-serif;
    color: var(--accent-color);
    
    border: 1px solid black;
    background-color: rgb(138, 150, 141);
    border-radius: 5px;

    margin-bottom: 25px;
    margin-top: 0px;
}
.give-up-btn:hover {
    background-color: rgb(78, 90, 81);
    cursor: pointer;
}
.give-up-btn.disabled {
    pointer-events: none;
    transform: none;
}

.game-info {    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#game-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;

    font-size: 115px;
    letter-spacing: 0.5rem;
    font-family: 'Star Jedi', sans-serif;
    color: #121213;
    text-shadow: -2px 0 var(--accent-color), 0 2px var(--accent-color), 2px 0 var(--accent-color), 0 -2px var(--accent-color);
}

.input-wrapper {
    display: flex;
    justify-content: center;
}
.input-elems {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 420px;
}
.input-border {
    width: 385px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid var(--accent-color);
    border-radius: 50px;
}
.guess-input {
    width: 300px;
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 50px;
}
.guess-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 330px;
    top: 100%;
    left: 10px;

    background: #eed9c4;
    color: black;
    border: 1px solid #444;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;

    font-size: 15px;
    font-weight: 600;

    z-index: 100;
}
.guess-list-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.guess-list-item:hover {
    background-color: #777;
    cursor: pointer;
}
.guess-list-image {
    position: relative;
    width: 65px;
    height: 65px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.guess-list-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.guess-list-name {
    position: relative;
    height: 65px;
    padding: 5px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}
.guess-button {
    width: 40px;
    font-size: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    border: none;
    color: #121213;
    cursor: pointer;

    transition: transform 0.2s ease-in;
}

/* feedback colors */
.correct {
    background-color: #6aaa64;
    /* Background */
    background: rgba(106, 170, 100, 0.15);
    box-shadow:
        0 0 8px rgba(106, 170, 100, 0.6),
        inset 0 0 8px rgba(106, 170, 100, 0.4);
    border: 1px solid rgba(106, 190, 100, 0.6);
    border-radius: 4px;
}
.partial {
    background-color: #c9b458;
    /* Background */
    background: rgba(201, 180, 88, 0.15);
    box-shadow:
        0 0 8px rgba(201, 180, 88, 0.6),
        inset 0 0 8px rgba(201, 180, 88, 0.4);
    border: 1px solid rgba(250, 250, 88, 0.6);
    border-radius: 4px;
}
.incorrect {
    background-color: rgba(0, 180, 255, 0.15);
}
.lower {
    background-color: rgba(0, 180, 255, 0.15);
}
.higher {
    background-color: rgba(0, 180, 255, 0.15);
}

/* Help modal */
.info-button {
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;

    background-color: rgba(0, 180, 255, 0.05);
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08) 1px,
        transparent 1px,
        transparent 3px
    );
    box-shadow:
        0 0 8px rgba(0, 180, 255, 0.6),
        inset 0 0 8px rgba(0, 180, 255, 0.4);
    border: 1px solid rgba(0, 200, 255, 0.6);
    cursor: pointer;
    
    font-size: 30px;
    color: #121213;
    text-shadow: -2px 0 var(--accent-color), 0 2px var(--accent-color), 2px 0 var(--accent-color), 0 -2px var(--accent-color);
    font-weight: 500;
}
.help-header {
    color: #000000;
    font-family: 'Star Jedi', sans-serif;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    border-bottom: 10px #000000;
}
.help-sub-header {
    font-family: 'Star Jedi', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(140, 0, 153)
}
.help-desc {
    font-family: 'Star Jedi', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: black;
}

/* Endgame Modal */
.endgame-title {
    color: #000000;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
}
.endgame-title.win {
    color: #6aaa64;
}
.endgame-title.loss {
    color: red;
}
.endgame-msg {
    font-family: 'Star Jedi', sans-serif;
    color: black;
    font-size: 20px;

    margin-top: 10px;
}
