

/* Alignment borders */
.Light {
    border: 2px solid #89CFF0;
}
.Dark {
    border: 2px solid red;
}
.Neutral {
    border: 2px solid #FAF9F6;
}


/* Container for all guesses */
#guess-container {
    margin-top: 20px;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 50px;
}
.header-row.hidden {
    display: none;
}
.header-box {
    width: 120px;
    height: 40px;
    border-bottom: 5px solid white;
    background-color: #121213;
    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: yellow;
    font-weight: bold;
    letter-spacing: 0.7px;
    
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

/* One guess row */
.guess-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 8px;
}
/* Individual boxes */
.box {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 90px;
    /* border: 2px solid #3a3a3c; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    padding: 10px;

    /* Background */
    background: rgba(0, 180, 255, 0.15);
    box-shadow:
        0 0 8px rgba(0, 180, 255, 0.6),
        inset 0 0 8px rgba(0, 180, 255, 0.4);
    border: 1px solid rgba(0, 200, 255, 0.6);
    border-radius: 4px;

    /* Transformation Animations */
    transition: transform 0.6s ease, background-color 0.6s ease;
    transform-style: preserve-3d;
}
.box::before {
  content: "";
  position: absolute;
  inset: 0;

  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.04) 1px,
    transparent 1px,
    transparent 3px
  );

  pointer-events: none;
}
.box.flip {
    transform: rotateX(90deg);
}
.box.hidden {
    color: transparent;
    background-color: transparent;
}
.box img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    object-fit: contain;
}
/* Feedback Colors */
.correct {
    background-color: #6aaa64;
    /* Background */
    background: rgba(106, 170, 100, 0.15);
    box-shadow:
        0 0 8px rgba(106, 170, 100, 0.6),
        inset 0 0 8px rgba(106, 170, 100, 0.4);
    border: 1px solid rgba(106, 190, 100, 0.6);
    border-radius: 4px;
}
.partial {
    background-color: #c9b458;
    /* Background */
    background: rgba(201, 180, 88, 0.15);
    box-shadow:
        0 0 8px rgba(201, 180, 88, 0.6),
        inset 0 0 8px rgba(201, 180, 88, 0.4);
    border: 1px solid rgba(250, 250, 88, 0.6);
    border-radius: 4px;
}
.incorrect {
    background-color: rgba(0, 180, 255, 0.15);
}
.lower {
    background-color: rgba(0, 180, 255, 0.15);
}
.higher {
    background-color: rgba(0, 180, 255, 0.15);
}


#help-description {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}
#help-color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    align-items: center;
}
.help-color-square {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin: 5px;
}
.help-color-example {
    width: 100%;
    height: 45px;
    border: 4px solid black;
}
.help-color-example.correct {
    background: rgba(106, 170, 100, 1.0);
}
.help-color-example.partial {
    background: rgba(201, 180, 88, 1.0);
}
.help-color-example.incorrect {
    background-color: rgba(0, 180, 255, 1.0);
}
.help-color-desc {
    color: black;
    font-family: 'Star Jedi', sans-serif;
    font-size: 15px;
}


/* End game modal */
#endgame-guess-cnt {
    margin-bottom: 20px;
}
#endgame-answer {
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#endgame-answer img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
