<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Wedgedle{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}
  </head>

  <body data-game="{{ game_name | default('wedgedle') }}">
    
    {% block before_title %}{% endblock %}
    <h1 id="game-title" class="game-title">
      {{ game_title | default("Wedgedle") }}
    </h1>
    {% block after_title %}{% endblock %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
  </body>
</html>
    